################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Debug
/repo
/Scheme2Hack.vcxproj.user
/Scheme2Hack.vcxproj.filters
/Scheme2Hack.vcxproj
/Scheme2Hack.sln
